html, body {
    height: 100%;
}

.active {
    font-weight: bold;
}

#app {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 1rem;
    height: 100%;
}

@media screen and (max-width: 1024px) {
    #app {
        max-width: 90%;
    }
}

@media screen and (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 0;
        margin-bottom: 0.5rem;
    }
}
